@charset "UTF-8";/*
	* ------------------------------------------------
	* [Generic] - Box-Sizing
	* ------------------------------------------------
	*/html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,*:before,*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}/*
	* ------------------------------------------------
	* [Generic] - Normalize
	* ------------------------------------------------
	*/html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,aside,footer,header,nav,section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,figure,main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,strong {
  font-weight: inherit;
}

b,strong {
  font-weight: bolder;
}

code,kbd,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,input,optgroup,select,textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,input {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html [type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}/*
	* ------------------------------------------------
	* [Generic] - Reset
	* ------------------------------------------------
	*/body,h1,h2,h3,h4,h5,h6,blockquote,p,pre,dl,dd,ol,ul,figure,hr,fieldset,legend {
  margin: 0;
  padding: 0;
}

li > ol,li > ul {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  min-width: 0;
  border: 0;
}

.font-thin,[font-thin] {
  font-weight: 100;
}

.font-extra-light,[font-extra-light] {
  font-weight: 200;
}

.font-light,[font-light] {
  font-weight: 300;
}

.font-regular,[font-regular] {
  font-weight: 400;
}

.font-medium,[font-medium] {
  font-weight: 500;
}

.font-semi-bold,[font-semi-bold] {
  font-weight: 600;
}

.font-bold,[font-bold] {
  font-weight: 700;
}

.font-extra-bold,[font-extra-bold] {
  font-weight: 800;
}

.font-black,[font-black] {
  font-weight: 900;
}

.text-underline {
  text-decoration: underline;
}

.pre-wrap,[pre-wrap] {
  white-space: pre-wrap;
}/*
	* ------------------------------------------------
	* [Common] - Margin Rhythm
	* ------------------------------------------------
	*/address,h1,h2,h3,h4,h5,h6,blockquote,p,pre,dl,ol,ul,figure,hr,table,fieldset {
  margin-bottom: 15px;
}

dd,ol,ul {
  margin-left: 15px;
}/*
	* ------------------------------------------------
	* [Common] - Simple page-level setup.
	* ------------------------------------------------
	*/html {
  font-size: 1em;
  line-height: 24px;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  height: 100%;
}/*
	* ------------------------------------------------
	* [Utils] - Flexbox utils selectors
	* ------------------------------------------------
	*/.l-flex,[l-flex] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-flex-start,[l-flex-start] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.l-flex-start-start,[l-flex-start-start] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.l-flex-start-end,[l-flex-start-end] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.l-flex-start-center,[l-flex-start-center] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-flex-end,[l-flex-end] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.l-flex-end-start,[l-flex-end-start] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.l-flex-end-end,[l-flex-end-end] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.l-flex-end-center,[l-flex-end-center] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-flex-center,[l-flex-center] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-flex-center-start,[l-flex-center-start] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.l-flex-center-end,[l-flex-center-end] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.l-flex-center-center,[l-flex-center-center] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}/*
*
* MY CSS
*
*/body {
  font-family: 'Helvetica';
  font-size: 14px;
  padding: 15px;
}

ol,ul {
  margin: 0;
  list-style: none;
}

p {
  width: 100%;
  text-align: left;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.list-flex {
  width: 200px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.list-flex__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 7.5px;
}

.list-flex__item .list-childs {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60px;
  flex: 1 1 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-flex__item .list-childs + .info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  margin-left: 5px;
}

.list-flex__item:nth-child(0) .list-childs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.list-flex__item:nth-child(1) .list-childs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-flex__item:nth-child(2) .list-childs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-flex__item:nth-child(3) .list-childs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.list-flex__item:nth-child(4) .list-childs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.list-flex__item:nth-child(5) .list-childs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.list-flex__item:nth-child(6) .list-childs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.list-flex__item:nth-child(7) .list-childs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-flex__item:nth-child(8) .list-childs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-flex__item:nth-child(9) .list-childs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.list-flex__item:nth-child(10) .list-childs {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.list-childs {
  position: relative;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}

.list-childs li {
  min-width: 10px;
  min-height: 10px;
  border: 1px solid black;
  background: orange;
  border-radius: 2px;
}

.list-childs:before {
  content: 'JC';
  color: #dcdcdc;
  font-size: 0.5rem;
  line-height: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: -0.5rem;
  right: 0;
}

.list-childs:after {
  content: 'AI';
  color: #dcdcdc;
  font-size: 0.5rem;
  line-height: 0.5rem;
  height: 0.5rem;
  position: absolute;
  bottom: -0.8rem;
  left: 0;
}/*
* ------------------------------------------------
* [Trash] - // What are you doing? Clean all this now!
* ------------------------------------------------
*/

/*# sourceMappingURL=main.css.map */
